* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Helvetica Neue";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dce3e6;
}

main {
    background-color: #fff;
    display: grid;
    gap: 5rem;
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
}

.options fieldset {
    max-width: 30rem;
}

.options, .options fieldset, .employess {
    padding: 1rem;
}

.options select {
    margin: 1rem 0;
}

.checkboxRoles {
    display: flex;
    flex-direction: column;
}

.checkboxRoles .role {
    margin: .5rem 0;
}

.role input {
    margin-right: .5rem;
}

table tbody tr td:not(:first-child), table thead tr th:not(:first-child) {
    text-align: left;
    padding-left: 5rem;
}

table tbody tr td, table thead tr th {
    padding-bottom: .5rem;
}

table tbody tr td:last-child {
    text-align: right;
}